<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rosetta.tailor.dao.CityCompetitivenessMapper" >
  <resultMap id="BaseResultMap" type="com.rosetta.tailor.entity.CityCompetitiveness" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="economic_competitiveness" property="economicCompetitiveness" jdbcType="DOUBLE" />
    <result column="economic_ranking" property="economicRanking" jdbcType="INTEGER" />
    <result column="sustainable_competitiveness" property="sustainableCompetitiveness" jdbcType="DOUBLE" />
    <result column="sustainable_ranking" property="sustainableRanking" jdbcType="INTEGER" />
    <result column="livable_competitiveness" property="livableCompetitiveness" jdbcType="DOUBLE" />
    <result column="livable_ranking" property="livableRanking" jdbcType="INTEGER" />
    <result column="business_environment_competitiveness" property="businessEnvironmentCompetitiveness" jdbcType="DOUBLE" />
    <result column="business_environment_ranking" property="businessEnvironmentRanking" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, city, economic_competitiveness, economic_ranking, sustainable_competitiveness, 
    sustainable_ranking, livable_competitiveness, livable_ranking, business_environment_competitiveness, 
    business_environment_ranking
  </sql>

  <select id="selectByCityName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from city_competitiveness
    where city = #{city}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city_competitiveness
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city_competitiveness
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rosetta.tailor.entity.CityCompetitiveness" >
    insert into city_competitiveness (id, city, economic_competitiveness, 
      economic_ranking, sustainable_competitiveness, 
      sustainable_ranking, livable_competitiveness, 
      livable_ranking, business_environment_competitiveness, 
      business_environment_ranking)
    values (#{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{economicCompetitiveness,jdbcType=DOUBLE}, 
      #{economicRanking,jdbcType=INTEGER}, #{sustainableCompetitiveness,jdbcType=DOUBLE}, 
      #{sustainableRanking,jdbcType=INTEGER}, #{livableCompetitiveness,jdbcType=DOUBLE}, 
      #{livableRanking,jdbcType=INTEGER}, #{businessEnvironmentCompetitiveness,jdbcType=DOUBLE}, 
      #{businessEnvironmentRanking,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rosetta.tailor.entity.CityCompetitiveness" >
    insert into city_competitiveness
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="economicCompetitiveness != null" >
        economic_competitiveness,
      </if>
      <if test="economicRanking != null" >
        economic_ranking,
      </if>
      <if test="sustainableCompetitiveness != null" >
        sustainable_competitiveness,
      </if>
      <if test="sustainableRanking != null" >
        sustainable_ranking,
      </if>
      <if test="livableCompetitiveness != null" >
        livable_competitiveness,
      </if>
      <if test="livableRanking != null" >
        livable_ranking,
      </if>
      <if test="businessEnvironmentCompetitiveness != null" >
        business_environment_competitiveness,
      </if>
      <if test="businessEnvironmentRanking != null" >
        business_environment_ranking,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="economicCompetitiveness != null" >
        #{economicCompetitiveness,jdbcType=DOUBLE},
      </if>
      <if test="economicRanking != null" >
        #{economicRanking,jdbcType=INTEGER},
      </if>
      <if test="sustainableCompetitiveness != null" >
        #{sustainableCompetitiveness,jdbcType=DOUBLE},
      </if>
      <if test="sustainableRanking != null" >
        #{sustainableRanking,jdbcType=INTEGER},
      </if>
      <if test="livableCompetitiveness != null" >
        #{livableCompetitiveness,jdbcType=DOUBLE},
      </if>
      <if test="livableRanking != null" >
        #{livableRanking,jdbcType=INTEGER},
      </if>
      <if test="businessEnvironmentCompetitiveness != null" >
        #{businessEnvironmentCompetitiveness,jdbcType=DOUBLE},
      </if>
      <if test="businessEnvironmentRanking != null" >
        #{businessEnvironmentRanking,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rosetta.tailor.entity.CityCompetitiveness" >
    update city_competitiveness
    <set >
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="economicCompetitiveness != null" >
        economic_competitiveness = #{economicCompetitiveness,jdbcType=DOUBLE},
      </if>
      <if test="economicRanking != null" >
        economic_ranking = #{economicRanking,jdbcType=INTEGER},
      </if>
      <if test="sustainableCompetitiveness != null" >
        sustainable_competitiveness = #{sustainableCompetitiveness,jdbcType=DOUBLE},
      </if>
      <if test="sustainableRanking != null" >
        sustainable_ranking = #{sustainableRanking,jdbcType=INTEGER},
      </if>
      <if test="livableCompetitiveness != null" >
        livable_competitiveness = #{livableCompetitiveness,jdbcType=DOUBLE},
      </if>
      <if test="livableRanking != null" >
        livable_ranking = #{livableRanking,jdbcType=INTEGER},
      </if>
      <if test="businessEnvironmentCompetitiveness != null" >
        business_environment_competitiveness = #{businessEnvironmentCompetitiveness,jdbcType=DOUBLE},
      </if>
      <if test="businessEnvironmentRanking != null" >
        business_environment_ranking = #{businessEnvironmentRanking,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rosetta.tailor.entity.CityCompetitiveness" >
    update city_competitiveness
    set city = #{city,jdbcType=VARCHAR},
      economic_competitiveness = #{economicCompetitiveness,jdbcType=DOUBLE},
      economic_ranking = #{economicRanking,jdbcType=INTEGER},
      sustainable_competitiveness = #{sustainableCompetitiveness,jdbcType=DOUBLE},
      sustainable_ranking = #{sustainableRanking,jdbcType=INTEGER},
      livable_competitiveness = #{livableCompetitiveness,jdbcType=DOUBLE},
      livable_ranking = #{livableRanking,jdbcType=INTEGER},
      business_environment_competitiveness = #{businessEnvironmentCompetitiveness,jdbcType=DOUBLE},
      business_environment_ranking = #{businessEnvironmentRanking,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>